{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>Lista de Blogs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Blog</th>
                <th>Image</th>
                <th>Tags</th>
                <th>Slug</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td><a href="{{ path('adminblog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.author }}</td>
                <td>{{ blog.blog }}</td>
                <td>{{ blog.image }}</td>
                <td>{{ blog.tags }}</td>
                <td>{{ blog.slug }}</td>
                <td>{% if blog.created %}{{ blog.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if blog.updated %}{{ blog.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminblog_show', { 'id': blog.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminblog_edit', { 'id': blog.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminblog_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
